[submodule "vendor/NAS"]
	path = vendor/NAS
	url = https://github.com/ThirtySomething/NAS
[submodule "vendor/LatexTemplate"]
	path = vendor/LatexTemplate
	url = https://github.com/ThirtySomething/LatexTemplate
